<html data-namespace-typo3-fluid="true"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:themes="http://typo3.org/ns/KayStrobach/Themes/ViewHelpers">


<div id="categoriesFilter">
	<form class="row g-3" onsubmit="return false;">
		<div class="col-md-4">
			<label for="categoriesFilterSearchField" class="form-label"><f:translate key="categoriesFilterSearch" /></label>
			<input type="text" class="form-control" id="categoriesFilterSearchField" name="search" >
		</div>
		<div class="col-md-4">
			<label for="categoriesFilterSearchScope" class="form-label"><f:translate key="categoriesFilterIn" /></label>
			<select id="categoriesFilterSearchScope" name="scope" class="form-select">

				<f:for each="{themes:iterator.sort(subject: categories, key: 'title')}" as="category">
					<f:if condition="{category.items}">
						<option value="{category.key}" {f:if(condition:'{category.key} == {categoriesFilterSettings.searchScope}', then:'selected="selected"')}>
						<f:translate key="{category.title}" default="{category.title}" />
						</option>
					</f:if>
				</f:for>
			</select>
		</div>
		<div class="col-md-4">
			<input id="categoriesFilterShowBasic" name="showBasic" value="1" type="hidden" checked="checked"/>
			<input id="categoriesFilterShowAdvanced" name="showAdvanced" value="1" type="hidden" checked="checked"/>
			<input id="categoriesFilterShowExpert" name="showExpert" value="1" type="hidden" checked="checked"/>
		</div>
	</form>
</div>

	<div class="row">

		<div class="col-xs-12">


			<f:form action="update" enctype="multipart/form-data" id="saveableForm">

				<f:form.hidden name="pid" value="{pid}" />
				<f:for each="{themes:iterator.sort(subject: categories, key: 'title')}" as="category">
					<section data-category="{category.key}" class="constants-group visible">
						<f:if condition="{category.items}">
							<h2><f:translate key="{category.title}" default="{category.title}" /></h2>
						</f:if>
						<f:groupedFor each="{category.items}" as="subcategory" groupBy="subcat_name" groupKey="subcat_name">
							<table border="0" cellpadding="0" cellspacing="0" class="table table-striped table-hover" style="max-width: 100%;">
								<thead>
									<tr>
										<f:if condition="{subcat_name}">
											<f:then>
												<td colspan="3">{subcat_name}</td>
											</f:then>
											<f:else>
												<td colspan="3"><f:translate key="{category.title}" default="{category.title}" /></td>
											</f:else>
										</f:if>
									</tr>
								</thead>
								<tbody>
									<f:for each="{themes:iterator.sort(subject: subcategory)}" as="item">
										<tr title="{item.name}" data-userscope="{item.userScope}" data-subcategory="{item.subCategory}" class="constantLine db_list_normal visible {f:if(condition:'{item.isDefault}', then:'defaultValueIsSelected')}">
											<td nowrap="nowrap" class="editToggle">
												<div class="showOnDefault">
													<span class="showEditForm">
														<core:icon identifier="switch-off" />
													</span>
												</div>
												<div class="hideOnDefault">
													<span class="hideEditForm">
														<core:icon identifier="switch-on"/>
													</span>
												</div>
												<f:form.hidden name="check[{item.name}]" value="{f:if(condition:'{item.isDefault}', then:'', else:'checked')}" class="hidden"/>
											</td>
											<td class="title">
												<label for="{item.name}"><f:translate key="{item.label}" default="{item.label}"/></label>
											</td>
											<td class="value">
												<f:render partial="FormFields/{item.typeCleaned}" arguments="{field: item}"/>
											</td>
										</tr>
									</f:for>
								</tbody>
							</table>
						</f:groupedFor>
					</section>
				</f:for>
			</f:form>
		</div>
	</div>
</html>
